registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wcp-tmp-ace-fr-team-npm-virtual/ 
@isf:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/hyc-abell-devops-team-dev-isf-npm-local/ 
_auth = c29tYmlyLnNpbmdoMUBpYm0uY29tOkFQN0drTFFqMWczSmVjWHdHU2R4RHdzQXd0NnE0RG5lTGlNNUV2
always-auth = true
email = Sombir.Singh1@ibm.com
