{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-recommended-scss",
  "ignoreFiles": [
    "**/*.tsx"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["global"]
    }]
  }
}